body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    body {
        width: 75%;
    }
}

.content .info{
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100vh;
    color: white;
}

.info .inner-info {
    padding: 30px;
    margin-top: 40%;
}

.info .inner-info h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.joke-container {
    margin-top: 220px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#display-content{
    margin-top:50px;
    
}

.btn {
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .content .info{
        height: auto;
    }
    .info .inner-info {
        margin-top: 40px;
    }

    .joke-container{
        margin-top: 50px;
    }
}
    
.portfolio a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}